@import "../colors.scss";

.audio-selection-container {
    padding: 0;
    border: 1px solid $white;
    border-radius: 0.5rem;
}

.audio-option {
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;

    &:first-child {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    &:last-child {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    &:hover {
        color: $white;
        background-color: $blue;
    }

    &.selected {
        color: $white;
        background-color: $blue;
    }
}

.preview {
    background-color: $blue;
    width: 100%;
    font-size: 1rem;
    height: 2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;

    svg {
        margin-right: 0.5rem;
    }

    &:active {
        background-color: darken($blue, 10%);
    }

    &:disabled {
        background-color: darken($blue, 10%);
        cursor: default;
    }
}
