@import "../mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.title-bar {
    @include desktop {
        width: 100%;
    }

    > div {
        @include desktop {
            margin-top: 0.5rem;
            margin-left: 2rem;
            width: 11rem;
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-size: 2.4rem;
            line-height: 0.7;
            cursor: pointer;
        }

        .mob-id {
            margin-top: 1rem;
            font-family: "Roboto Mono", monospace;
            font-size: 1.1rem;
        }
    }
}
