@import "../mixins.scss";

.current-mobbers {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.6rem;

    @include modern-iphone {
        font-size: 2rem;
    }

    @include phone {
        font-size: 2.4rem;
    }

    @include tablet {
        font-size: 3rem;
    }
}

.current-role {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45%;

    .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    svg {
        margin-bottom: 0.5rem;
    }
}
