@import "../Colors.scss";

.connect {
    background-color: $blue;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.create {
    background-color: $green;
    font-size: 1.2rem;
}

label {
    font-size: 1.6rem;
}

.connect-to-session {
    div {
        margin-top: 0.5rem;
        display: flex;

        input {
            background-color: $darkgray;
            border: none;
            border-bottom: 1px solid $lightgray;
            margin-right: 2rem;
            padding-left: 0.5rem;
            font-size: 1.2rem;
            width: 4.6rem;

            &:focus {
                outline: none;
            }
        }
    }
}

.or {
    font-size: 1.4rem;
    margin: 2rem 0;
    text-align: center;
}

.create-session {
    div {
        margin-top: 1rem;
    }
}
