@import "../colors.scss";

.buttons {
    display: flex;
    justify-content: center;

    button {
        margin-top: 1rem;
        width: 100%;
        line-height: 1rem;
        user-select: none;

        &:not(:first-child) {
            margin-left: 1rem;
        }

        &.start {
            background-color: $green;

            &:active {
                background-color: darken($green, 10%);
            }

            &:disabled {
                background-color: darken($green, 10%);
                cursor: not-allowed;
            }
        }

        &.stop {
            background-color: $red;

            &:active {
                background-color: darken($red, 10%);
            }
        }

        &.reset {
            background-color: $blue;

            &:active {
                background-color: darken($blue, 10%);
            }
        }

        &.next {
            background-color: $burntorange;

            &:active {
                background-color: darken($burntorange, 10%);
            }
        }
    }
}
