@import "../colors.scss";

.buttons {
    display: flex;
    justify-content: center;

    div {
        margin-top: 1rem;
        width: 100%;
        line-height: 1rem;

        &:not(:first-child) {
            margin-left: 1rem;
        }

        &.start {
            background-color: $green;
        }

        &.stop {
            background-color: $red;
        }

        &.reset {
            background-color: $blue;
        }

        &.next {
            background-color: $yellow;
        }
    }
}
