// .mobbing-session {
// height: 100vh;
// display: flex;
// flex-direction: column;
// align-items: center;
// justify-content: flex-end;
// }

.countdown-and-controls {
    // position: relative;
    // top: -4rem;
}

.buttons {
    display: flex;
    justify-content: center;

    div {
        // width: 4rem;
        margin-top: 1rem;
        width: 100%;
        line-height: 1rem;

        &:not(:first-child) {
            margin-left: 1rem;
        }

        &.start {
            background-color: rgb(4, 160, 4);
        }

        &.stop {
            background-color: rgb(206, 33, 33);
        }

        &.reset {
            background-color: rgb(40, 40, 250);
        }

        &.next {
            background-color: rgb(212, 212, 0);
        }
    }
}
