.mobbers-container {
    position: absolute;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1rem;
    border-radius: 0.5rem;

    .mobbers {
        display: flex;
    }

    .add-mobber {
        display: flex;

        input {
            background-color: rgb(46, 46, 46);
            color: white;
            border: none;
            border-bottom: 1px solid #777;
            margin-right: 1rem;

            &:focus {
                outline: none;
            }
        }

        .add {
            background-color: rgb(182, 118, 0);
        }
    }
}

.mobber {
    padding: 0.5rem 1rem;
    background-color: #777;
    color: white;
    border-radius: 0.5rem;

    &:not(:last-child) {
        margin-right: 1rem;
    }

    .role {
        margin-right: 0.5rem;
    }

    .close {
        margin-left: 0.5rem;
        cursor: pointer;
    }
}
