@import "./colors.scss";

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: $darkgray;
    color: $white;
    padding: 1rem;
    box-sizing: border-box;
}

input {
    color: $white;
    background-color: $darkgray;
    border: none;
    border-bottom: 1px solid $lightgray;
    font-size: 1.2rem;
    text-align: center;

    &:focus {
        outline: none;
    }
}
